*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E1E1E;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: $fontSize;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
.app-content{
    position: relative;
    height: 100%;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.ib{
    display: inline-block;
}
.col{
    float: left;
    overflow: hidden;
    &.no-pad{
        padding-left: 0px;
        padding-right: 0px;
    }
}
.table{
    display: table;
    width: 100%;
    height: 100%;
}
.cell-center{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.clear{
    clear: both;
}
.half{
    width: 50%;
}
.third{
    width: 33.33%;
}
.fourth{
    width: 25%;
}
.fifth{
    width: 20%;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 83, 83);
}
