.main-content{
    .tabs{
        height: 35px;
        background-color: rgb(37, 37, 38);
        font-size: 1px;
        user-select: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        .tab{
            height: 35px;
            line-height: 35px;
            padding-left: 30px;
            padding-right: 30px;
            background-color: rgb(45, 45, 45);
            display: inline-block;
            cursor: pointer;
            font-size: $fontSize;
            position: relative;
            span{
                opacity: 0.5;
                i{
                    height: 35px;
                    line-height: 35px;
                    right: 9px;
                    top: 1px;
                    position: absolute;
                    opacity: 0;
                }
            }
            &.current{
                background-color: rgb(30, 30, 30);
                span{
                    opacity: 1;
                    i{
                        opacity: 1;
                    }
                }
            }
        }
    }
}