.sidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    padding-top: 29px;
    width: 300px;
    background-color: rgb(37, 37, 38);
}

.sidebar-title{
    padding: 5px 0px;
}